<%= render "layouts/header" %>
<div class="row">
  <h1>
    <%= @event.host.name %>
  </h1>
  <p>
    <%= @event.description %>
  </p>
  <p>
    <ul>
      <% @event.guests.each do |guest| %>
        <li><%= guest.name %> </li>
      <% end %>
    </ul>
  </p>
</div>
